<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rólunk Kerékpárüzlet</title>
    <style></style>
</head>
<body>

    <header>
        <p>A minőségi kerékpárok és kiegészítők egyetlen célpontja</p>
    </header>

    <section id="home">
        <h1>Üdvözöljük az ISABIKE-ban</h1>
        <p>Fedezze fel prémium kerékpárjaink és kiegészítőink gyűjteményét.</p>
        <img src="assets/boltkepek/bolt_1.png" alt="Kerékpárüzlet Kép" style="max-width: 100%; height: auto;">
    </section>

    <section id="bikes">
        <h2>A Kerékpárjaink</h2>
        <p>Csak a legjobb minő</p>
    </section>

    <section id="contact">
        <h2>Lépjen kapcsolatba velünk</h2>
        <p>Látogasson el üzletünkbe, vagy lépjen velünk kapcsolatba bármilyen érdeklődés esetén.</p>
    </section>
    

    <footer>
        <p>&copy; 2024 Rólunk Kerékpárüzlet. Minden jog fenntartva.</p>
    </footer>

</body>
</html>
