<div class="container mt-3">
  <div class="row mt-4">
    <div class="col-md-3 mb-4" *ngFor="let termek of filteredProducts; let i = index">
      <div class="card">
        <img *ngIf="termek.kep" [src]="termek.kep" class="card-img-top img-fluid termek-image-home" alt="Termék Kép">
        <div class="card-body">
          <h5 class="card-title">
            <a class="nav-item nav-link" routerLink="/home">{{ termek.termek_nev }}</a>
          </h5>          
          <p class="card-text"><strong>Kategória:</strong> {{ termek.termek_kateg }}</p>
          <p class="card-text"><strong>Gyártó Azonosítója:</strong> {{ termek.gyarto_id }}</p>
          <p class="card-text"><strong>Raktáron lévő Mennyiség:</strong> {{ termek.raktarondb }}</p>
          <p class="card-text"><strong>Súly:</strong> {{ termek.tomeg_erteke }} kg</p>
          <p class="card-text"><strong>Szín:</strong> {{ termek.szine }}</p>
          <p class="card-text"><strong>Leírás:</strong> {{ termek.leiras }}</p>
          <p class="card-text"><strong>Ár:</strong> {{ termek.egyseg_ar }} Ft</p>
          <p class="card-text"><strong>Elérhetőség:</strong> {{ termek.elerheto ? 'Elérhető' : 'Nem Elérhető' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
